/.agents export-ignore
/.agents/** export-ignore
/.kilo export-ignore
/.kilo/** export-ignore
/artifacts export-ignore
/artifacts/** export-ignore
/brain export-ignore
/brain/** export-ignore
/inc/modules/search-builder/class-search-ajax.php export-ignore
*.md export-ignore
*.tmp export-ignore
*.temp export-ignore
*~ export-ignore
analysis* export-ignore
escaping-issues* export-ignore
phpcs* export-ignore
reports* export-ignore
security-issues* export-ignore
