/* Elonix Header Builder Front-end Styles */

.es-site-header {
	width: 100%;
	display: block;
	position: relative;
	z-index: 9999;
}

/* Admin Bar compatibility */
body.admin-bar .es-header-sticky,
body.admin-bar .es-site-header.es-header-sticky,
body.admin-bar .es-site-header .elementor-sticky--active,
body.admin-bar .es-header-sticky .elementor-sticky--active {
	top: 32px !important;
}

@media (max-width: 782px) {
	body.admin-bar .es-header-sticky,
	body.admin-bar .es-site-header.es-header-sticky,
	body.admin-bar .es-site-header .elementor-sticky--active,
	body.admin-bar .es-header-sticky .elementor-sticky--active {
		top: 46px !important;
	}
}
